<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:include="~{/parts/nav :: header-css}"></div>
    <title>Bloggg</title>

</head>
<body>

<div th:include="~{/parts/nav :: navbar}"></div>
<!--    Post input area-->
<div class="container">
    <form method="post" th:action="@{/}" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="Input text">
        <input type="text" name="tag" placeholder="Input tag">
        <input type="file" name="file">
        <button type="submit">Save post</button>
    </form>
    <!--    Filter input area -->
    <form th:action="@{/}" th:object="${filter}">
        <input type="search"
               th:placeholder="${filter}"
               aria-label="Search"
               name="filter">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!--    Posts-->
    <h2>Posts:</h2>
    <div th:each="post:${posts}">
        <strong th:text="${post.getAuthorName()}"></strong>
        <i> <span th:text="${post.id}"></span> </i>
        <span th:text="${post.text}"></span>
        <b> <span th:text="${post.tag}"></span></b>
        <div>
<!--            <img th:if="${post.filename}" th:src="@{/img/{filename}(filename = ${post.filename})}">-->

            <img th:if="${not #strings.isEmpty(post.filename)}" th:src="@{/img/{filename}(filename = ${post.filename})}">

        </div>
    </div>


</div>


<div th:include="~{/parts/footer :: foot}"></div>

<!--<div th:include="~{/parts/nav :: boot-script}"></div>-->
</body>
</html>